<div class="col">
  <div class="card-body">
    <div class="text-center">
      <h2>{{tituloTable}}</h2>
    </div>
    <table class="table" id="infoTable">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#id</th>
          <th scope="col">nombre</th>
          <th scope="col">usuario</th>
          <th scope="col">contraseña</th>
          <th scope="col">edad</th>
          <th scope="col">acciones</th>
        </tr>
      </thead>
      <tbody>
        {{#each user}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{nombre}}</td>
            <td>{{usuario}}</td>
            <td>{{paswd}}</td>
            <td>{{edad}}</td>
            <td class="text-center">
              <a  class="btn btn-info" data-toggle="modal" data-target="#staticBackdrop{{id}}">
                <span class="material-icons">
                  create
                </span>
              </a>
              {{!-- <a href="editar-info/{{id}}" class="btn btn-info" id="myButton">Modificar</a> --}}
              <a href="delete/{{id}}" class="btn btn-danger">
                <span class="material-icons">
                  delete
                </span>
              </a>
            </td>
          </tr>
          {{> modalModify }}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>